<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BananaSNS</title>
<link href='/stylesheets/index.css' rel='stylesheet' type='text/css'>
<script src="/socket.io/socket.io.js"></script>
<!--<script src="/javascripts/jquery.js"></script>-->
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script>
$(document).ready(function () {


//var socket = io.connect();
	

	// client_1_1 회원가입 버튼 리스너
	$("#btn_join").click(function(evt) {
		member_insert_check();
	});


	// client_1_2 회원가입 예외처리
	var member_insert_check = function () {

	    if(!/^([가-힝]{2,10}|[A-z09\s]{3,20})$/.test($("#join_name").val())){
		alert("이름을 바르게 입력해주세요.");
		$("#join_name").focus();        
		return false;
	    }

	    else if(!/^([0-9a-zA-Z_-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/.test($("#join_email").val())){
		alert("이메일을 바르게 입력해주세요.");
		$("#join_email").focus();        
		return false;
	    }

	    else if(!/^[a-z][0-9a-z]{7,11}$/.test($("#join_pass").val())){
		alert("비밀번호는 영문숫자 조합 8자 이상입니다.");
		$("#join_pass").focus();        
		return false;
	    }

	    else{
	
		member_insert();
	    }
	};
	

	// client_1_3 회원가입 처리 함수
	var member_insert = function () {
		var postdata = {
			'join_email': $("#join_email").val(),
			'join_pass':  $("#join_pass").val(),
			'join_name':  $("#join_name").val()
		};
		$.post('/member_insert', postdata,function(data){
				alert( data.status );
			
		});
	};


	// client_1_4 로그인 버튼 리스너
	$("#btn_login").click(function(evt) {
		member_select_check();
	});


	// client_1_5 로그인 예외처리
	var member_select_check = function () {

	    if(!/^([0-9a-zA-Z_-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/.test($("#login_id").val())){
		alert("아이디 또는 이메일을 바르게 입력해주세요.");
		$("#login_id").focus();        
		return false;
	    }

	    else if(!/^[a-z][0-9a-z]{7,11}$/.test($("#login_pass").val())){
		alert("비밀번호를 바르게 입력해주세요.");
		$("#login_pass").focus();        
		return false;
	    }

	    else{
		member_select();
	    }
	};

	// client_1_5 로그인 처리함수
	var member_select = function () {
		var postdata = {
			'login_id': $("#login_id").val(),
			'login_pass': $("#login_pass").val()
		};
		$.post('/member_select', postdata,function(data){
			if(data.status=='NODATA'){
				alert('아이디 패스워드를 확인해주세요.' );
			}

			else if(data.status=='MULTILOGIN'){
				//alert( '이미 로그인한 사용자 입니다.');
				if (confirm("이미 로그인한 사용자가 있습니다. 다시 접속하시겠습니까?")== true){    
					member_select_re();
				}else{   //취소
					alert('취소되었습니다.');
				}
				
			}

			else if(data.status=='SUCCESS'){
				location.href="/main";
			}

			else{
				alert('로그인중 장애가 발생했습니다.');
			}
			
		});
	};


	// client_1_5 로그인 처리함수
	var member_select_re = function () {
		var postdata = {
			'login_id': $("#login_id").val(),
			'login_pass': $("#login_pass").val()
		};
		$.post('/member_select_re', postdata,function(data){
			if(data.status=='NODATA'){
				alert('아이디 패스워드를 확인해주세요.' );
			}

			else if(data.status=='SUCCESS'){
				location.href="/main";
			}

			else{
				alert('로그인중 장애가 발생했습니다.');
			}
			
		});
	};


}); //$(document).ready(function ()
</script>
</head>

<body>
<!-- wrap -->
<div id="wrap">
	<div id='top'>
			<div id='top_set_wrap'>
				<h1 class='logo'><img src='/images/logo.png'></h1>
			</div>
		</div>
    <!-- //header -->
    <!-- container -->
	<div id="container" class="index_container">
  		<!-- left -->
		<div id="left" class="index_left">
		
		</div>
	        <!-- //left -->
	
		<!-- right -->
	        <div id="right" class="index_right">
        		<!-- login -->
			<div id="login" align="center">
				<table width="292px" border="0" cellspacing="0" cellpadding="0">
					<tr height="17px"><td></td></tr>
					<tr height="31px"><td><input type="text" id="login_id" name="login_id" placeholder="  아이디 또는 이메일" class="login_id_form"></td></tr> 
					<tr height="8px"><td></td></tr>
					<tr height="31px">
						<td width="210px">
							<table width="210px" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<input type="password" id="login_pass" name="login_pass" placeholder="  패스워드" class="login_pswd_form">
									</td>
									<td width="5px">&nbsp;</td>
									<td><input id="btn_login" type="image" src="/images/btn_login.jpg"/></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="37px">
						<td>
							<table width="292px">
								<tr>
									<td>
										<input type="checkbox" id="" name=""></td><td>ID저장</td><td>|</td><td>비밀번호찾기</td><td width="130px">
									</td>
								</tr>                
							</table>
						</td>
					</tr>
					<tr height="11px"><td></td></tr>      
				</table>
			</div>
			<!-- //login -->

			<!-- join -->
			<div id="join" align="center">
				<table width="292px" border="0" cellpadding="0" cellspacing="0">
					<tr height="18px"><td></td></tr>
					<tr align="left"><td><img src="/images/title_join.jpg"></td></tr>
					<tr height="10px"><td></td></tr>
					<tr><td><input type="text" id="join_name" name="join_name" placeholder="  이름" class="login_id_form"></td></tr>
					<tr height="8px"><td></td></tr>
					<tr><td><input type="text" id="join_email" name="join_email" placeholder="  이메일주소" class="login_id_form"></td></tr>
					<tr height="8px"><td></td></tr>
					<tr><td><input type="text" id="join_pass" name="join_pass" placeholder="  비밀번호" class="login_id_form"></td></tr>
					<tr height="8px"><td></td></tr>
					<tr align="right"><td><input id="btn_join" type="image"  src="/images/btn_join.jpg"/></td></tr>
				</table>
			</div>
			<!-- join -->
		</div>
		<!-- //right -->
		</div>
		<!-- //container -->
		</div>
<!-- //wrap -->
<!-- footer -->
	<div id='bottom'>
        <div id='top_set_wrap'><img src="/images/copyright.jpg"></div>
        </div>
	<!-- //footer -->
</body>
</html>
