<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<title>BananaSNS</title>
<script src='/socket.io/socket.io.js'></script>
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
<link href='/stylesheets/mypage.css' rel='stylesheet' type='text/css'>
<link href='/stylesheets/video_chat_draggable.css' rel='stylesheet' type='text/css'>

<!-- Canvas -->
<link rel="stylesheet" href="/stylesheets/farbtastic.css" />
<link rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.16.custom.css" />
<script src="http://code.jquery.com/jquery-2.0.0.js"></script>
<script src="/javascripts/farbtastic.js"></script>
<script src="/javascripts/canvas_module.js"></script>

<!-- Room Chat -->
<script src="/javascripts/room_chat_module.js"></script>

<!-- jquery UI -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- video chat module -->
<script src="/javascripts/video_chat_module.js"></script>

<!-- fileupload -->
<script src="/javascripts/fileupload.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

<!-- scroll Bar -->
<link href='/stylesheets/jquery.mCustomScrollbar.css' rel='stylesheet' type='text/css'>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>
<script src='/javascripts/jquery.mCustomScrollbar.js'></script>

<script src='/javascripts/message_module.js'></script>

<script>


</script>




<script>
var kuser_id
var socket;
var session;

$(document).ready(function(){

	socket = io.connect();

	socket.on('connect_list', function(data){
		load();
	});

/*
	socket.on('disconnect_ck',function(){
		socket.emit('disconnect_type', {type : true});
	});
*/


	var global_reflash = false;
	var pageout = false;
	var link = false;

	function pout() {
		
		socket.emit('disconnect_type', {type : global_reflash});
		
		
		
		if (!pageout && !link) {
			pageout = true;
			//return window.location.href="/";
			//return location.replace("/");
			return "이 페이지에서 나가시겠습니까";
		}
		
		
		if (global_reflash == true) global_reflash = false;
		return false;
		
		
	}



	function reflash_check(event) {
		if (event.keyCode == 116) {
			global_reflash = true;
			socket.emit('disconnect_type', {type : global_reflash});
		}
	}

	
	
	window.onbeforeunload = pout;
	window.onkeydown = reflash_check;

	/***********************************************/	
	distinctionBrowser();
	rtc_start();
	canvas_start();
	room_chat_start();
	file_upload();
	chat_start();
	/***********************************************/	

/**************  팝업 dragabble ***********************/

$(function() {
	$( "#video_chat_draggable_pannel" ).draggable({ snap: true });
	$( "#video_chat_draggable1" ).draggable({ snap: true });
	$( "#video_chat_draggable2" ).draggable({ snap: true });
	$( "#video_chat_draggable3" ).draggable({ snap: true });
	$( "#video_chat_draggable4" ).draggable({ snap: true });
	$( "#video_chat_draggable5" ).draggable({ snap: true });
	$( "#video_chat_draggable6" ).draggable({ snap: true });
	$( "#canvas_draggable" ).draggable({ cancel: "canvas.canvas" });
	$( "canvas" ).disableSelection();
	$( "#photo_form" ).draggable({ snap: true });
	
});
  

/**************  팝업 dragabble **********************/
	
	//client_1_1 새로고침 막기


	// client_1_2 친구불러오기 버튼 리스너
	$("#ml_replace").click(function(evt) {
		load();
	});

	var load = function () {
		console.log('load() ^^');
		$.get('/member_list', function (data) {
			console.log('load()!!!!!!!!');
			console.log(data);
			$("#member_list").empty();
			$(data).each(function (i) {
				if(jsonToValue(this.session,'\"socketID\":\"')==false) return;
				//alert("사용자 SocketID : "+jsonToValue(this.session,'\"userid\":\"'));
				$("#member_list").prepend("<li></li>");
				$("#member_list li:first").append("<span class='ml_photo' onclick=\"mypage_init('"+jsonToValue(this.session,'\"userid\":\"')+"')\"><img src='"+  jsonToValue(this.session,'\"photo\":\"') + "'alt='friend_photo'></span>");
				$("#member_list li:first").append("<span class='ml_name'>" + jsonToValue(this.session,'\"name\":\"') + "</span>" );
				<!--*************************************************************-->
				$("#member_list li:first").append("<span class='ml_message'><input type='image' src='/images/btn_message_act.jpg' onclick=\"openMessageBoxState('"+jsonToValue(this.session,'\"socketID\":\"')+"','"+jsonToValue(this.session,'\"name\":\"')+"')\"></span>" );
				$("#member_list li:first").append("<span class='ml_rtc'><input type='image' src='/images/btn_camchat_act.jpg' onclick=\"send_videocamReq('"+jsonToValue(this.session,'\"socketID\":\"')+"')\"></span>" );		
				<!--*************************************************************-->
							
			});
		});
	};


	// client_1_3 메시지박스 클릭체크 핸들러
	$('#message_box_list li').click(changeClass);


	// client_1_5 프로필 받기
	var load_profile=function(){
		$.post('/main_my_profile',function(data){
			//$("#profile_wrap").empty();
			
			$("#profile_info_name").prepend(data.name);
			$("#profile_info_birth").prepend(data.birth);
			$("#profile_info_location").prepend(data.city);
			$("#profile_info_location").prepend("&nbsp;");
			$("#profile_info_location").prepend(data.nation);
			$("#profile_photo").prepend("<img src="+data.photo+">");
			$("#profile_info_edit").prepend("<a href='#'>프로필 수정&gt;&gt;</a>");
			session=data; // 세션에 프로필 데이터 저장
			
			$("#topset_mypage").val(data.userid);
			$("#topset_community").val(data.userid);
			$("#topset_message").val(data.userid);
			$("#topset_rtc").val(data.userid);
			$("#topset_write").val(data.name);
			$("#bt_mypage_cover_edit").val(data.userid); // 커버페이지 - 커버수정하기 버튼
			$("#bt_coverpage_edit_cancel").val(data.userid); //커버수정페이지 - 취소버튼
			$(".form_upload_userid").val(data.userid); // 업로드 폼

			// 타임라인 정보 받기 유저정보 //

			
		});

		socket.emit('get_session');
		   //세션정보를 받아옴
		   socket.on('get_session',function(data){
		      if(data.socketID==null){
			 socket.emit('get_session');
		      } else {
			 session = data;
		      }

			  load_timeline(data.userid);
		  });


	};


	//  client_1_4 스크롤바 실행
	mCustomScrollbars();


	// *********이벤트 리스너 모음 **************
	
	//  Listener_[1] 커버페이지 버튼
	$("#topset_mypage").click(function(evt) {
		var id = $(this).attr('value');
		mypage_init(id);
	});

	// Listener_[2] 커버페이지내 - 커버수정버튼
	$("#bt_mypage_cover_edit").click(function(evt) {
		var id = $(this).attr('value');
		mypage_cover_edit_init(id);
	});	

	// Listener_[3] 커버수정 페이지내 - 취소버튼
	$("#bt_coverpage_edit_cancel").click(function(evt) {
		var id = $(this).attr('value');
		mypage_init(id);
	});		
		
	// Listener_[4] 커버수정 페이지내 - 커버배경사진 번경버튼
	$("#bt_cover_bg_edit").click(function(evt) {
		$( "#dialog_cover_bg_photo" ).dialog( "open" );
	});

	// Listener_[5] 커버수정 페이지내 - 프로필사진 번경버튼	
	$("#bt_cover_profile_photo_edit").click(function(evt) {
		$( "#dialog_profile_photo" ).dialog( "open" );
	});

	// Listener_[6] 커버수정 페이지내 - 저장버튼
	$("#br_coverpage_edit_ok").click(function(evt) {
		mypage_cover_edit_text();
		var id = $("#topset_mypage").attr('value');
		mypage_init(id);
	});
	
	// Listener_[7] 커버페이지내 - 최근소식버튼
	$(".bt_total_comment").click(function(evt) {
		//
	});

	// Listener_[8] 커버페이지내 - 정보버튼
	$(".bt_total_info").click(function(evt) {
		mypage_cover_myinfo_init();
	});

	// Listener_[9] 커버페이지내 - 친구버튼
	$(".bt_total_friend").click(function(evt) {
		//var id = $(this).attr('value');
		//alert(id);
		mypage_cover_myfriend_init();
		//my_friend_list(id);
	});

	// Listener_[10] 커버페이지 - 개인정보페이지 - 수정버튼
	$("#bt_mypage_info_edit").click(function(evt) {
		mypage_cover_myinfo_eidt_init();
	});

	// Listener_[12] 커버페이지 - 개인정보수정페이지 - 취소버튼
	$("#bt_mypage_info_edit_cancel").click(function(evt) {
		mypage_cover_myinfo_init();
	});

	// Listener_[13] 커버페이지 - 개인정보수정페이지 - 저장버튼
	$("#bt_mypage_info_edit_save").click(function(evt) {
		var id = $("#topset_mypage").attr('value');
		mypage_cover_myinfo_save(id);
		get_userinfo(id);
		mypage_cover_myinfo_init();
	});

	// Listener_[14] 검색페이지
	$("#search_submit").click(function(evt) {
		var id = $("#topset_mypage").attr('value');
		search_key=$("#search_key_form").val();

		search_page_search_key(search_key,id);
		search_page_markup_init();
	});

	// Listener_[15] 검색페이지에서 친구추가 요청 Response_friend
	$("#new_request_friend").click(function(evt) {
		//바로 함수 처리 했음
	});	
	
	// Listener_[16] 커뮤니티 버튼 --- 나에게온 친구요청 리스트
	$("#topset_community").click(function(evt) {
		response_friend_list_init();
	});

	// Listener_[17]  친구추가 버튼 리스너
	$(".new_add_friend").click(function(evt) {
		//바로 함수 처리 했음	
	});

	// Listener_[18] 나에게온 친구요청 링크버튼  --- 나에게온 친구요청 리스트
	$("#response_link_text").click(function(evt) {
		response_friend_list_init();		
	});

	// Listener_[18] 내가 요청한 친구정보보기  --- 내가요청한 친구리스트
	$("#request_link_text").click(function(evt) {
		request_friend_list_init();		
	});

	// client_1_9 마이페이지 커버 사진 변경 리스너
	$("#bt_cover_bg_edit").click(function(evt) {
		$( "#dialog_cover_bg_photo" ).dialog( "open" );
	});



	// client_1_7 메시지함 리스너
	$("#topset_message").click(function(evt) {
		

	});

	// client_1_7 RTC 리스너
	$("#topset_rtc").click(function(evt) {
		$('#member_list_wrap').attr('style','display:block');
	});

	// client_1_7 글쓰기 리스너
	$("#topset_write").click(function(evt) {
		$( "#dialog_cover_write_wrap" ).dialog( "open" );
	});

	// client_1_8 타임라인 리스너
	$("#topset_timeline").click(function(evt) {
		default_time_line_init();
	});	


    
	/* 다이얼로그 레이아웃 셋팅 */
	$( "#dialog_profile_photo" ).dialog({autoOpen: false, show: { effect: "blind", duration: 100 },  hide: { effect: "explode", duration: 100 }  });
	$( "#dialog_cover_bg_photo" ).dialog({autoOpen: false, show: { effect: "blind", duration: 100 },  hide: { effect: "explode", duration: 100 } });
	$( "#dialog_cover_write_wrap" ).dialog({autoOpen: false, show: { effect: "blind", duration: 100 },  hide: { effect: "explode", duration: 100 } , width:512 });

	load_profile();
	modify_birth_year();
	//default_time_line_init();
	//load();
});

//var lfunction 

// [1] 사용자 정보 호출 
function get_userinfo(id){

		//커버 정보 표시
		$.get('/mypage_cover/'+id, function (data) {
			
			/************* 정보 초기화 ***********/
			$(".mypage_user_name").empty(); //공용 이름
			$(".mypage_user_id").empty(); //공용 이메일
			$("#mypage_cover_text").empty(); //커버페이지 커버 텍스트
			$("#mypage_cover_wrap_edit_input").empty(); //수정페이지 커버 텍스트
			
			$('#mypage_profile_photo').empty(); //커버페이지 사진
			$('.mypage_cover_wrap').attr('style',"background-image:url(/images/mypage_cover.jpg)"); //커버페이지 뒷배경

			$(".total_comment").empty(); //공용 최신소식
			$(".total_info").empty(); //공용 정보
			$(".total_friend").empty(); //공용 친구
			/************* 정보 초기화 ***********/			
			
			/************* 커버페이지 및 커버 수정페이지 데이터 입력 *****************/
			$(".mypage_user_name").prepend(data.name);
			$(".mypage_user_id").prepend(data.email);
			$("#mypage_cover_text").prepend(data.cover_text);	
			$("#mypage_cover_wrap_edit_input").prepend(data.cover_text);	 //수정페이지 커버 텍스트
			
			if(data.photo==null){
				$('#mypage_profile_photo').append("<img src='/images/profile.png'>");
				$("#mypage_profile_photo_edit").attr('style',"background-image:url(/images/profile.png)"); //수정 페이지 사진 background
			}else{
				$('#mypage_profile_photo').append("<img src='"+data.photo+"' />");
				$("#mypage_profile_photo_edit").attr('style',"background-image:url('"+data.photo+"')"); //수정 페이지 사진 background
			}

			if(data.cover_bg==null){
				$('mypage_cover_wrap').attr('style',"background-image:url(/images/mypage_cover.jpg)");
			}else{
				$('mypage_cover_wrap').attr('style',"background-image:url('"+data.cover_bg+"')");
			}

			$(".total_comment").prepend(data.total_comment);
			$(".total_info").prepend(data.total_info);
			$(".total_friend").prepend(data.total_friend);
			
			$(".bt_total_friend").attr('onclick',"my_friend_list('"+data._id+"')");
			$(".bt_total_comment").attr('onclick',"mypage_init('"+data._id+"')");
			
			/************* 커버페이지 및 커버 수정페이지 데이터 입력 *****************/	
			
			/************* 개인정보 초기화 ****************/
			$("#info_birth").empty();
			$("#info_sex").empty();
			$("#info_nation").empty();
			$("#info_city").empty();
			$("#info_language").empty();
			$("#info_blood_type").empty();
			$("#info_like").empty();
			$("#info_hobby").empty();
			$("#info_married").empty();

			$("#birth_year > option[value='00']").attr("selected", "true");
			$("#birth_month > option[value='00']").attr("selected", "true");
			$("#birth_day > option[value='00']").attr("selected", "true");
			$("#edit_sex > option[value='00']").attr("selected", "true");
			$("#edit_nation").val("");
			$("#edit_city").val("");
			$("#edit_language").val("");
			$("#edit_blood_type > option[value='00']").attr("selected", "true");
			$("#edit_like").val("");
			$("#edit_hobby").val("");
			$("#edit_married > option[value='00']").attr("selected", "true");
			
			/************* 개인정보 입력 ****************/
			$("#info_birth").append(data.birth);
			$("#info_sex").append(data.sex);
			$("#info_nation").append(data.nation);
			$("#info_city").append(data.city);
			$("#info_language").append(data.language);
			$("#info_blood_type").append(data.blood_type);
			$("#info_like").append(data.like);
			$("#info_hobby").append(data.hobby);
			$("#info_married").append(data.married);
			
			
			if(data.birth!=null){
			 var results = data.birth.split('-')
			$("#birth_year > option[value='"+results[0]+"']").attr("selected", "true");
			$("#birth_month > option[value='"+results[1]+"']").attr("selected", "true");
			$("#birth_day > option[value='"+results[2]+"']").attr("selected", "true");
			}
			

			$("#edit_sex > option[value='"+data.sex+"']").attr("selected", "true");
			$("#edit_nation").val(data.nation);
			$("#edit_city").val(data.city);
			$("#edit_language").val(data.language);
			$("#edit_blood_type > option[value='"+data.blood_type+"']").attr("selected", "true");
			$("#edit_like").val(data.like);
			$("#edit_hobby").val(data.hobby);
			$("#edit_married > option[value='"+data.married+"']").attr("selected", "true");								
			/************* 개인정보 입력 끝****************/
			
			//나인지 남인지 판단 - 친구추가,수정하기 
			mypage_tap_button_ck(data._id);
			load_wall(data._id);
		});
}

// [1_1] 마이페이지 초기화
function mypage_init(id){
	all_none();
	get_userinfo(id);
	mypage_cover_init();
}


// [1_2] 커버수정 활성화
function mypage_cover_edit_init(id){
		// 마이페이지 -커버
		$('#mypage_total_wrap').attr('style','display:none');
		// 마이페이지-커버 수정
		$('#mypage_total_wrap_edit').attr('style','display:block');
}


// [1_3] 커버텍스트 수정
function mypage_cover_edit_text(){
	var postdata = {
		'userid':  $("#topset_mypage").val(),
		'cover_text': $("#mypage_cover_wrap_edit_input").val(),
		
	};
	$.post('/mypage_cover_text_update', postdata,function(data){
		alert(data.status);
	});
}


// [1_4] 커버페이지 개인정보 활성화
function mypage_cover_myinfo_init(){
	mypage_cover_tapmenu_none();
	
	// 마이페이지 - 개인정보
	$('#mypage_personal_info_wrap').attr('style','display:block');
}


// [1_5] 커버페이지 개인정보 수정 활성화
function mypage_cover_myinfo_eidt_init(){
	mypage_cover_tapmenu_none();
	
	// 마이페이지 - 개인정보 수정
	$('#mypage_personal_info_wrap_edit').attr('style','display:block');	
}

// [1_6] 커버페이지 개인정보 저장
function mypage_cover_myinfo_save(id){

	var info_year=$("#birth_year>option:selected").val();
	var info_month=$("#birth_month>option:selected").val();
	var info_day=$("#birth_day>option:selected").val();
	
	var save_birth=info_year+'-'+info_month+'-'+info_day;

	var postdata = {
		'userid':	id,
		'birth' :	save_birth,
		'sex' :		$("#edit_sex>option:selected").val(),
		'nation' :	$("#edit_nation").val(),
		'city' :	$("#edit_city").val(),
		'language' :	$("#edit_language").val(),
		'blood_type' :  $("#edit_blood_type>option:selected").val(),
		'like' :	$("#edit_like").val(),
		'hobby' :	$("#edit_hobby").val(),
		'married' :	$("#edit_married>option:selected").val()
	};
	$.post('/mypage_cover_info_update', postdata,function(data){
		alert(data.status);
	});

}

// [1_7] 커버페이지 친구정보 활성화
function mypage_cover_myfriend_init(){
	mypage_cover_tapmenu_none();
	
	// 마이페이지 - 친구리스트
	$('#mypage_friend_list_wrap').attr('style','display:block');
}


// [1_8] 검색페이지 함수
function search_page_search_key(search_key,userid){
	
	var postdata = {
		'userid':	userid,
		'search_key' :	search_key
	};
	$.post('/search_page_search_key', postdata,function(data){
	//alert(data);


		$("#searchpage_friend_list").empty();
		$(data).each(function (i) {
			$("#searchpage_friend_list").prepend("<li class='searchpage_friend_list_li'>");
			$("#searchpage_friend_list li:first").append("<div class='searchpage_friend_list_photo' onclick=\"mypage_init('"+ this._id +"')\"><img src=' "+ this.photo +"' alt='profile_photo'></div>");
			//$("#searchpage_friend_list li:first").append("<div class='searchpage_friend_list_photo' onclick=\"mypage_init('"+ this._id +"')\"><img src='/images/photo.jpg' alt='profile_photo'></div>");
			$("#searchpage_friend_list li:first").append("<div class='searchpage_friend_list_info'>");
			
			$(".searchpage_friend_list_info:first").append("<p class='searchpage_friend_list_info_name'>"+this.name+"</p>");
			$(".searchpage_friend_list_info:first").append("<p class='searchpage_friend_list_info_birth'>"+this.birth+"</p>");		
			$(".searchpage_friend_list_info:first").append("<p class='searchpage_friend_list_info_location'>"+this.city+"</p>");
			$(".searchpage_friend_list_info:first").append("<p class='searchpage_friend_list_info_message'><a href='#'>메시지 보내기</a></p>");
			$(".searchpage_friend_list_info:first").append("</div>");

			$("#searchpage_friend_list li:first").append("<ul class='searchpage_confirm'>");                
			$(".searchpage_confirm:first").append("<li class='addfriend'><input class='new_request_friend' type='image' src='/images/minibt_addfriend.png'  onclick=\"new_request_friend('"+ this._id +"')\"></li>");
//			$(".searchpage_confirm:first").append("<li class='del_confirm'><input type='image' src='/images/minibt_del_confirm.png'></li>");
//			$(".searchpage_confirm:first").append("<li class='confirm'><input type='image' src='/images/minibt_confirm.png'></li>");
			$(".searchpage_confirm:first").append("</li>");
		});

	});	
}


// [1_8] 나에게온 친구요청 리스트 활성화
function response_friend_list_init(){
		var userid = $("#topset_community").attr('value');
		response_page_markup_init();
		response_friend_list(userid);
}

// [1_8] 내가 요청한 친구 리스트 활성화
function request_friend_list_init(){
		var userid = $("#topset_community").attr('value');
		request_page_markup_init();
		request_friend_list(userid);
}



// [1_8] 친구추가 요청
function new_request_friend(requester_id){

	//alert(requester_id);

	var postdata = {
	'myid':  $("#topset_mypage").val(),
	'requester_id' : requester_id,
		
	};
	
	$.post('/new_request_friend', postdata,function(data){
		alert(data.status);
	});
  
}


// [1_8] 나에게온 친구요청 리스트
function response_friend_list(userid){
	
	//alert("나에게온 친구요청");
	var postdata = {
		'userid':userid,
	};
	$.post('/response_friend_list', postdata,function(data){
		//alert(data);
		$("#responsepage_friend_list").empty();
		$(data).each(function (j) {
			$(data[j].friends).each(function (i) {
				$("#responsepage_friend_list").prepend("<li class='responsepage_friend_list_li'>");
				$("#responsepage_friend_list li:first").append("<div class='responsepage_friend_list_photo' onclick=\"mypage_init('"+ this.user_id +"')\"><img src=' "+ this.user_photo +"' alt='profile_photo'></div>");
				//$("#responsepage_friend_list li:first").append("<div class='responsepage_friend_list_photo' onclick=\"mypage_init('"+ this.user_id +"')\"><img src='/images/photo.jpg' alt='profile_photo'></div>");
				$("#responsepage_friend_list li:first").append("<div class='responsepage_friend_list_info'>");
				
				$(".responsepage_friend_list_info:first").append("<p class='responsepage_friend_list_info_name'>"+this.user_name+"</p>");
				$(".responsepage_friend_list_info:first").append("<p class='responsepage_friend_list_info_birth'>요청일&nbsp;"+replace_date(this.request_date)+"</p>");		
				$(".responsepage_friend_list_info:first").append("<p class='responsepage_friend_list_info_message'><a href='#'>메시지 보내기</a></p>");
				$(".responsepage_friend_list_info:first").append("<p class='responsepage_friend_list_info_location'>"+this.user_city+"</p>");
				$(".responsepage_friend_list_info:first").append("</div>");

				$("#responsepage_friend_list li:first").append("<ul class='responsepage_confirm'>");                
				//$(".responsepage_confirm:first").append("<li class='addfriend'><input class='new_response_friend' type='image' src='/images/minibt_addfriend.png'  onclick=\"new_response_friend('"+ this._id +"')\"></li>");
				$(".responsepage_confirm:first").append("<li class='del_confirm'><input class='new_del_friend' type='image' src='/images/minibt_del_confirm.png' onclick=\"new_del_friend_in_responsepage('"+ this.user_id +"')\"></li>");
				$(".responsepage_confirm:first").append("<li class='confirm'><input class='new_add_friend' type='image' src='/images/minibt_confirm.png' onclick=\"new_add_friend_in_responsepage('"+ this.user_id +"')\"></li>");
				$(".responsepage_confirm:first").append("</li>");
			});
		});		
	});	
}

// [1_8] 친구리스트에 친구추가 -- 친구요청 답하기 페이지
function new_add_friend_in_responsepage(responser_id){
		
	var postdata = {
		'myid':  $("#topset_mypage").val(),
		'responser_id' : responser_id,
	};

	$.post('/new_add_friend', postdata,function(data){
		alert(data.status);
	});

	response_friend_list_init();
	
}

// [1_8] 친구리스트에 삭제 -- 내가한 친구요청 페이지
function new_del_friend_in_responsepage(responser_id){
		
	var postdata = {
		'myid':  $("#topset_mypage").val(),
		'responser_id' : responser_id,
	};

	$.post('/new_del_friend', postdata,function(data){
		alert(data.status);
	});

	response_friend_list_init();
}

// [1_8] 친구리스트에 삭제 -- 친구요청 답하기 페이지
function new_del_friend_in_requestpage(responser_id){
		
	var postdata = {
		'myid':  $("#topset_mypage").val(),
		'responser_id' : responser_id,
	};

	$.post('/new_del_friend', postdata,function(data){
		alert(data.status);
	});

	request_friend_list_init();
}

// [1_8] 내가 요청한 친구리스트
function request_friend_list(userid){
	
	//alert("내가 요청한 친구요청");
	var postdata = {
		'userid':	userid,
	};
	$.post('/request_friend_list', postdata,function(data){
		//alert(data);
		$("#requestpage_friend_list").empty();
		$(data).each(function (j) {
			$(data[j].friends).each(function (i) {
				$("#requestpage_friend_list").prepend("<li class='requestpage_friend_list_li'>");
				$("#requestpage_friend_list li:first").append("<div class='requestpage_friend_list_photo' onclick=\"mypage_init('"+ this.user_id +"')\"><img src=' "+ this.user_photo +"' alt='profile_photo'></div>");
				//$("#requestpage_friend_list li:first").append("<div class='requestpage_friend_list_photo' onclick=\"mypage_init('"+ this.user_id +"')\"><img src='/images/photo.jpg' alt='profile_photo'></div>");
				$("#requestpage_friend_list li:first").append("<div class='requestpage_friend_list_info'>");
				
				$(".requestpage_friend_list_info:first").append("<p class='requestpage_friend_list_info_name'>"+this.user_name+"</p>");
				$(".requestpage_friend_list_info:first").append("<p class='requestpage_friend_list_info_location'>"+this.user_city+"</p>");
				$(".requestpage_friend_list_info:first").append("<p class='requestpage_friend_list_info_birth'>요청일&nbsp;"+replace_date(this.request_date)+"</p>");		
				$(".requestpage_friend_list_info:first").append("<p class='requestpage_friend_list_info_message'><a href='#'>메시지 보내기</a></p>");
				$(".requestpage_friend_list_info:first").append("</div>");

				$("#requestpage_friend_list li:first").append("<ul class='requestpage_confirm'>");                
				//$(".requestpage_confirm:first").append("<li class='addfriend'><input class='new_response_friend' type='image' src='/images/minibt_addfriend.png'  onclick=\"new_response_friend('"+ this._id +"')\"></li>");
				$(".requestpage_confirm:first").append("<li class='del_confirm'><input class='new_del_friend' type='image' src='/images/minibt_del_confirm.png' onclick=\"new_del_friend_in_requestpage('"+ this.user_id +"')\"></li>");
				//$(".requestpage_confirm:first").append("<li class='confirm'><input class='new_add_friend' type='image' src='/images/minibt_confirm.png' onclick=\"new_add_friend_in_requestpage('"+ this.user_id +"')\"></li>");
				$(".requestpage_confirm:first").append("</li>");
			});
		});
	});	
}

// [1_8] 커버페이지 친구리스트에 불러오기
function my_friend_list(userid){
	//alert(userid);
	var postdata = {
		'userid':  userid
	};

	$.post('/my_friend_list', postdata,function(data){
		//alert(JSON.stringify(data));
		$("#mypage_friend_list").empty();
		$(data).each(function (j){
			$(data[j].friends).each(function (i) {
				$("#mypage_friend_list").prepend("<li>");		
				$("#mypage_friend_list li:first").append("<div class='mypage_friend_list_photo' onclick=\"mypage_init('"+ this.user_id +"')\"><img src=' "+ this.user_photo +"' alt='profile_photo'></div>");
				$("#mypage_friend_list li:first").append("<div class='mypage_friend_list_info'>");
				
					$(".mypage_friend_list_info:first").append("<p class='mypage_friend_list_info_name'>"+this.user_name+"</p>");
					$(".mypage_friend_list_info:first").append("<p class='mypage_friend_list_info_birth'>요청일&nbsp;"+replace_date(this.request_date)+"</p>");		
					$(".mypage_friend_list_info:first").append("<p class='mypage_friend_list_info_location'>"+this.user_city+"</p>");
					$(".mypage_friend_list_info:first").append("<p class='mypage_friend_list_info_message'><a href='#'>메시지 보내기</a></p>");

				$("#mypage_friend_list li:first").append("</div>");


			});
		});
	});
}

// [1_9] 타임라인 글 등록하기
function write_timeline(){

	var postdata = {
		'userid':  $("#topset_mypage").val(),
		'text':  $("#timeline_input_form").val(),
		'name':  $("#topset_write").val(),
		'circles': 'public'
	};

	$.post('/write_timeline', postdata,function(data){
		alert(data.status);
		$("#timeline_input_form").val("");
		$("#dialog_cover_write_wrap" ).dialog( "close" );

	});
}

// [1_10] 탭메뉴 타임라인 불러오기 
function default_time_line_init(){
	user_id=$("#topset_mypage").val();
	mypage_timeline_init();
	load_timeline(user_id);
}

// [1_10] 나의 담벼락 불러오기 
function load_wall(user_id){
	var ID;
		if(user_id==null){
			ID=$("#topset_mypage").val();
		}else{
			ID=user_id;
		}

	var postdata = {'userid':  ID};
	$.post('/load_wall', postdata,function(data){

		
		$("#time_line").empty();
	$(data).each(function (j){
	var wallid=this._id;
		$(data[j].posts).each(function (i,posts) {
				$("#time_line").prepend("<li class='time_line_loop_li'>");
				$("#time_line li:first").append("<div class='tm_photo'><img src='/images/a.png' alt='friend_photo'/></div>");			
				$("#time_line li:first").append("<div class='tm_info'>");						
					$(".tm_info:first").append("<p class='tm_name'>");
					$(".tm_name:first").append("<span class='link_user'><a href='#'>"+this.name+"</a></span>");					
					$(".tm_name:first").append("<input type='image' src='/images/del.png' />");										
					$(".tm_info:first").append("<p class='tm_content'>"+this.text+"</p>");						
				$("#time_line li:first").append("</div>");	
				
					$("#time_line li:first").append("<div class='tm_option'>");							
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/good.jpg' onClick='markup_update_good($(this));'></div>");						
						$(".tm_option:first").append("<div class='tm_option_count1'><input type='text' name='tm_good_count' class='tm_good_count' value='"+this.good_count+"'></div>");
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/icon_comment.jpg' onClick='toggle_comment($(this));'></div>");
						$(".tm_option:first").append("<div class='tm_option_count2'><input type='text' name='tm_comment_count' class='tm_comment_count' value='"+this.comment_count+"'></div>");
						$(".tm_option:first").append("<div class='tm_option_time'>"+new Date(this.ts).toLocaleString()+"</div>");						
						$(".tm_option:first").append("</div>");							
					$("#time_line li:first").append("</div>");
					
				$("#time_line li:first").append("<ul class='tm_new_comment' style='display:none;'>");					
					$(".tm_new_comment:first").append("<li class='tm_new_comment_photo'><img src='/images/a.png' alt='friend_photo'/></li>");
					$(".tm_new_comment:first").append("<li class='tm_new_input'><input type='text' class='tm_nwe_input_form' /> </li>");							
					$(".tm_new_comment:first").append("<li class='tm_new_submit'><input type='image' class='tm_new_input_submit' src='/images/bt_write.png' onClick='write_comment($(this));'/></li>");
				$("#time_line li:first").append("</ul>");
				
				$("#time_line li:first").append("<input type='hidden' name='tm_postid' class='tm_postid' value='"+this.postid+"' >");
				$("#time_line li:first").append("<input type='hidden' name='tm_wallid' class='tm_wallid' value='"+wallid+"' >");

				$("#time_line li:first").append("<ul class='tm_comment' style='display:none;'>");
				
				$.each(posts.comments,function(k,data) {
				$(".tm_comment:first").append("<li><div class='tm_comment_photo'><img src='/images/a.png' alt='friend_photo'/></div><div class='tm_comment_info'><p class='tm_comment_name'><span class='link_user'><a href='#'>"+posts.comments[k]['name']+"</a></span><input type='image' src='/images/del.png' /></p><p class='tm_comment_content'>"+posts.comments[k]['text']+"</p><div class='tm_comment_time'><span class='timecolor'>"+new Date(posts.comments[k]['ts']).toLocaleString()+"</span></div></div></li><!--***tm_comment**-->");
				}); //each comments
								
				$("#time_line li:first").append("</ul><!-- 'tm_comment' -->");								
				$("#time_line li:first").append("</li><!-- ***LOOP*** -->");								
				$("#time_line:first").append("</ul><!-- 'time_line' -->");													
			});
		});
	});
}

// [1_10] 타임라인 불러오기 
function load_timeline(user_id){
	var ID;
		if(user_id==null){
			ID=$("#topset_mypage").val();
		}else{
			ID=user_id;
		}

	var postdata = {'userid':  ID};
	$.post('/load_timeline', postdata,function(data){

		//alert(JSON.stringify(data));
		
		$("#time_line").empty();
	$(data).each(function (j){
	var wallid=this._id;
		$(data[j].posts).each(function (i,posts) {
				$("#time_line").prepend("<li class='time_line_loop_li'>");
				$("#time_line li:first").append("<div class='tm_photo'><img src='/images/a.png' alt='friend_photo'/></div>");			
				$("#time_line li:first").append("<div class='tm_info'>");						
					$(".tm_info:first").append("<p class='tm_name'>");
					$(".tm_name:first").append("<span class='link_user'><a href='#'>"+this.name+"</a></span>");					
					$(".tm_name:first").append("<input type='image' src='/images/del.png' />");										
					$(".tm_info:first").append("<p class='tm_content'>"+this.text+"</p>");						
				$("#time_line li:first").append("</div>");	
				
					$("#time_line li:first").append("<div class='tm_option'>");							
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/good.jpg' onClick='write_good($(this));'></div>");					
						$(".tm_option:first").append("<div class='tm_option_count1'><input type='text' name='tm_good_count' class='tm_good_count' value='"+this.good_count+"'></div>");														
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/icon_comment.jpg' onClick='toggle_comment($(this));'></div>");					
						$(".tm_option:first").append("<div class='tm_option_count2'><input type='text' name='tm_comment_count' class='tm_comment_count' value='"+this.comment_count+"'></div>");					
						$(".tm_option:first").append("<div class='tm_option_time'>"+new Date(this.ts).toLocaleString()+"</div>");						
						$(".tm_option:first").append("</div>");							
					$("#time_line li:first").append("</div>");
					
				$("#time_line li:first").append("<ul class='tm_new_comment' style='display:none;'>");					
					$(".tm_new_comment:first").append("<li class='tm_new_comment_photo'><img src='/images/a.png' alt='friend_photo'/></li>");
					$(".tm_new_comment:first").append("<li class='tm_new_input'><input type='text' class='tm_nwe_input_form' /> </li>");							
					$(".tm_new_comment:first").append("<li class='tm_new_submit'><input type='image' class='tm_new_input_submit' src='/images/bt_write.png' onClick='write_comment($(this));'/></li>");
				$("#time_line li:first").append("</ul>");
				
				$("#time_line li:first").append("<input type='hidden' name='tm_postid' class='tm_postid' value='"+this.postid+"' >");
				$("#time_line li:first").append("<input type='hidden' name='tm_wallid' class='tm_wallid' value='"+wallid+"' >");

				$("#time_line li:first").append("<ul class='tm_comment' style='display:none;'>");
				
				$.each(posts.comments,function(k,data) {
				$(".tm_comment:first").append("<li><div class='tm_comment_photo'><img src='/images/a.png' alt='friend_photo'/></div><div class='tm_comment_info'><p class='tm_comment_name'><span class='link_user'><a href='#'>"+posts.comments[k]['name']+"</a></span><input type='image' src='/images/del.png' /></p><p class='tm_comment_content'>"+posts.comments[k]['text']+"</p><div class='tm_comment_time'><span class='timecolor'>"+new Date(posts.comments[k]['ts']).toLocaleString()+"</span></div></div></li><!--***tm_comment**-->");
				}); //each comments

				$("#time_line li:first").append("</ul><!-- 'tm_comment' -->");								
				$("#time_line li:first").append("</li><!-- ***LOOP*** -->");
				$("#time_line:first").append("</ul><!-- 'time_line' -->");													
			});
		});
	});
}

// [1_10] 댓글 토글
function toggle_comment(obj){
	
	var k=obj.parent().parent().next().css("display");

	if(k=="block"){
		obj.parent().parent().nextAll().css("display","none");
	}else{
		obj.parent().parent().nextAll().css("display","block");
	}

	//obj.parent().parent().nextAll().css("display","block");
	//var k=obj.parent().parent().next().css("display");
	//alert(k);
}

function write_comment(obj){
	
	obj2=obj;
	
	var name=$("#topset_write").val();
	var text=obj.parent().prev(".tm_new_input").children(".tm_nwe_input_form").val();
	var postid=obj.parent().parent().parent().children(".tm_postid").val();
	var wallid=obj.parent().parent().parent().children(".tm_wallid").val();
	var userid=$("#topset_mypage").val();

	var postdata = {
		'wallid': wallid,
		'postid': postid,
		'userid': userid,
		'name'  : name,
		'text'  : text
	};

	$.post('/write_comment', postdata,function(data){
		if(data.status=='1'){
			markup_update_comment(obj2,name,text);
		}
	});

}

function write_good(obj){
	
	obj2=obj;

	var wallid=obj.parent().parent().parent().children(".tm_wallid").val();
	var postid=obj.parent().parent().parent().children(".tm_postid").val();
	var name=$("#topset_write").val();
	var userid=$("#topset_mypage").val();


	var postdata = {
		'wallid': wallid,
		'postid': postid,
		'userid': userid,
		'name'  : name,
	};

	$.post('/write_good', postdata,function(data){
		if(data.status=='1'){
			markup_update_good(obj2);
		}
	});

}

function markup_update_comment(obj,name,text){
	var total_comment=obj.parent().parent().prev(".tm_option").children(".tm_option_count2").children(".tm_comment_count").val();
	var temp=Number(total_comment)+1;
	obj.parent().parent().prev(".tm_option").children(".tm_option_count2").children(".tm_comment_count").val(temp);

	var xx=obj.parent().parent().parent().children(".tm_comment").append("<li><div class='tm_comment_photo'><img src='/images/a.png' alt='friend_photo'/></div><div class='tm_comment_info'><p class='tm_comment_name'><span class='link_user'><a href='#'>"+name+"</a></span><input type='image' src='/images/del.png' /></p><p class='tm_comment_content'>"+text+"</p><div class='tm_comment_time'><span class='timecolor'>"+new Date().toLocaleString()+"</span></div></div></li>");
}


function markup_update_good(obj){
	var total_good=obj.parent().parent().parent().children(".tm_option").children(".tm_option_count1").children(".tm_good_count").val();
	var temp=Number(total_good)+1;
	obj.parent().parent().parent().children(".tm_option").children(".tm_option_count1").children(".tm_good_count").val(temp);
	alert("추천되었습니다.");
}

function markup_update_write_timeline(){

				$("#time_line").prepend("<li class='time_line_loop_li'>");
				$("#time_line li:first").append("<div class='tm_photo'><img src='/images/a.png' alt='friend_photo'/></div>");			
				$("#time_line li:first").append("<div class='tm_info'>");						
					$(".tm_info:first").append("<p class='tm_name'>");
					$(".tm_name:first").append("<span class='link_user'><a href='#'>"+this.name+"</a></span>");					
					$(".tm_name:first").append("<input type='image' src='/images/del.png' />");										
					$(".tm_info:first").append("<p class='tm_content'>"+this.text+"</p>");						
				$("#time_line li:first").append("</div>");	
				
					$("#time_line li:first").append("<div class='tm_option'>");							
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/good.jpg' onClick='markup_update_good($(this));'></div>");						
						$(".tm_option:first").append("<div class='tm_option_count1'><input type='text' name='tm_good_count' class='tm_good_count' value='"+this.good_count+"'></div>");
						$(".tm_option:first").append("<div class='tm_option_icon'><input type='image' src='/images/icon_comment.jpg' onClick='toggle_comment($(this));'></div>");
						$(".tm_option:first").append("<div class='tm_option_count2'><input type='text' name='tm_comment_count' class='tm_comment_count' value='"+this.comment_count+"'></div>");
						$(".tm_option:first").append("<div class='tm_option_time'>"+new Date(this.ts).toLocaleString()+"</div>");						
						$(".tm_option:first").append("</div>");							
					$("#time_line li:first").append("</div>");
					
				$("#time_line li:first").append("<ul class='tm_new_comment' style='display:none;'>");					
					$(".tm_new_comment:first").append("<li class='tm_new_comment_photo'><img src='/images/photo.jpg' alt='friend_photo'/></li>");
					$(".tm_new_comment:first").append("<li class='tm_new_input'><input type='text' class='tm_nwe_input_form' /> </li>");							
					$(".tm_new_comment:first").append("<li class='tm_new_submit'><input type='image' class='tm_new_input_submit' src='/images/bt_write.png' onClick='write_comment($(this));'/></li>");
				$("#time_line li:first").append("</ul>");
				
				$("#time_line li:first").append("<input type='hidden' name='tm_postid' class='tm_postid' value='"+this.postid+"' >");
				$("#time_line li:first").append("<input type='hidden' name='tm_wallid' class='tm_wallid' value='"+wallid+"' >");

				$("#time_line li:first").append("<ul class='tm_comment' style='display:none;'>");
				
				$.each(posts.comments,function(k,data) {
				$(".tm_comment:first").append("<li><div class='tm_comment_photo'><img src='/images/a.png' alt='friend_photo'/></div><div class='tm_comment_info'><p class='tm_comment_name'><span class='link_user'><a href='#'>"+posts.comments[k]['name']+"</a></span><input type='image' src='/images/del.png' /></p><p class='tm_comment_content'>"+posts.comments[k]['text']+"</p><div class='tm_comment_time'><span class='timecolor'>"+new Date(posts.comments[k]['ts']).toLocaleString()+"</span></div></div></li><!--***tm_comment**-->");
				}); //each comments
								
				$("#time_line li:first").append("</ul><!-- 'tm_comment' -->");								
				$("#time_line li:first").append("</li><!-- ***LOOP*** -->");								
				$("#time_line:first").append("</ul><!-- 'time_line' -->");

}



function replace_date(date){
	var str=date.substring(0,10)
	return str;
}



// ************ View ****************** 

// [0] 모든페이지 초기화
function all_none(){
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:none');
		// 메세지 박스
		$('#memobox_wrap').attr('style','display:none');
		// 메시지 내용페이지
		$('#message_content_wrap').attr('style','display:none');
		// 타임라인
		$('#time_line_wrap').attr('style','display:none');
		// 마이페이지-커버
		$('#mypage_total_wrap').attr('style','display:none');
		// 마이페이지-커버 수정
		$('#mypage_total_wrap_edit').attr('style','display:none');
		// 마이페이지 - 개인정보 
		$('#mypage_personal_info_wrap').attr('style','display:none');
		// 마이페이지 - 개인정보 수정
		$('#mypage_personal_info_wrap_edit').attr('style','display:none');
		// 마이페이지 - 친구리스트
		$('#mypage_friend_list_wrap').attr('style','display:none');
		// 친구검색 페이지
		$('#searchpage_friend_list_wrap').attr('style','display:none');
		// Request -   내가한 친구요청 페이지
		$('#requestpage_friend_list_wrap').attr('style','display:none');
		// Response -  나에게온 친구요청 페이지
		$('#responsepage_friend_list_wrap').attr('style','display:none');
}

// [0_1] 마이페이지 버튼들 판단함수 (LOCALUSER, REMOTEUSER)
function mypage_tap_button_ck(id){
	if(session.userid==id){
		$('#bt_mypage_cover_edit').attr('style','display:block');
		$('#bt_mypage_add_friend01').attr('style','display:none');
		$('#bt_mypage_info_edit').attr('style','display:block');//개인정보수정버튼
	}else{
		$('#bt_mypage_cover_edit').attr('style','display:none');
		$('#bt_mypage_add_friend01').attr('style','display:block');
		$('#bt_mypage_info_edit').attr('style','display:none');//개인정보수정버튼
	}

}

// [0_2] 마이페이지 마크업 초기화
function mypage_cover_init(){
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:block');
		// 마이페이지 -커버
		$('#mypage_total_wrap').attr('style','display:block');
		// 마이페이지-커버 수정
//		$('#mypage_total_wrap_edit').attr('style','display:block');		
		// 마이페이지 - 개인정보
//		$('#mypage_personal_info_wrap').attr('style','display:block');
		// 마이페이지 - 개인정보 수정
//		$('#mypage_personal_info_wrap_edit').attr('style','display:block');		
		
		
		// 타임라인
		$('#time_line_wrap').attr('style','display:block');
}


// [0_3] 마이페이지 탭 메뉴 마크업 초기화
function mypage_cover_tapmenu_none(){
		// 타임라인
		$('#time_line_wrap').attr('style','display:none');
		// 마이페이지 - 개인정보
		$('#mypage_personal_info_wrap').attr('style','display:none');
		// 마이페이지 - 개인정보 수정
		$('#mypage_personal_info_wrap_edit').attr('style','display:none');	
		// 마이페이지 - 친구리스트
		$('#mypage_friend_list_wrap').attr('style','display:none');
}

// [0_4] 검색 페이지 마크업 초기화
function search_page_markup_init(){
		// 전체 마크업 초기화
		all_none();
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:block');
		// 친구검색 페이지
		$('#searchpage_friend_list_wrap').attr('style','display:block');
}

// [0_4] 내가한 친구요청 페이지 마크업 초기화
function request_page_markup_init(){
		// 전체 마크업 초기화
		all_none();
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:block');
		// Request -  내가한 친구요청 페이지
		$('#requestpage_friend_list_wrap').attr('style','display:block');
}

// [0_4] 나에게온 친구요청 페이지 마크업 초기화
function response_page_markup_init(){
		// 전체 마크업 초기화
		all_none();
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:block');
		// Request -  나에게온 친구요청 페이지
		$('#responsepage_friend_list_wrap').attr('style','display:block');
}

// [0_5] 탭메뉴 타입라인 초기화
function mypage_timeline_init(){
		all_none();
		// 접속자 리스트
		$('#member_list_wrap').attr('style','display:block');
		// 마이페이지 -커버
//		$('#mypage_total_wrap').attr('style','display:block');
		// 마이페이지-커버 수정
//		$('#mypage_total_wrap_edit').attr('style','display:block');		
		// 마이페이지 - 개인정보
//		$('#mypage_personal_info_wrap').attr('style','display:block');
		// 마이페이지 - 개인정보 수정
//		$('#mypage_personal_info_wrap_edit').attr('style','display:block');		
		
		
		// 타임라인
		$('#time_line_wrap').attr('style','display:block');
}


function jsonToValue(session, name){
	var temp;
	var data;
	try{
		temp = session.split(name,2);
		data = temp[1].split('\"',2);
		return data[0];
	}catch(err){
		console.log("jsonToValueErr : " + err);
		console.log("jsonToValueSession : " + session);
		return false;
	}
}

function getSelectedValue(strSelectID) {

var objSelect = document.getElementById(strSelectID); 

return objSelect.options[objSelect.selectedIndex].value;

}; 


/*************** Scroll Bar 시작*********************/
$(window).load(function() {
	
});

function mCustomScrollbars(){
	$(".scroll_div_member_list").mCustomScrollbar();
	$(".scroll_div_message_box_list").mCustomScrollbar();
	$(".scroll_div_message_content").mCustomScrollbar();


}
/***************** Scroll Bar 끝*******************/


/*************** 뒤로가기 막는함수 시작 *********************/
/*
var pageout = false;
var link = false;
function pout() {
	socket.emit('disconnect_type', {reflash : global_reflash});
	if (!pageout && !link) {
		pageout = true;
		return "이 페이지에서 나가시겠습니까";
	}
}
window.onbeforeunload = pout;
*/

/*************** 뒤로가기 막는함수 끝 *********************/



/*************** 메시지박스 체크 시작 *********************/
function changeClass(){
	$.each($('#message_box_list li'),function(i){
		$(this).attr('class','');
});

$(this).attr('class','message_box_list_li_on');
}
/*************** 메시지박스 체크 끝 *********************/


/***************** 마이페이지 개인정보 수정 Select Year ******************/
function modify_birth_year(){
	var birth_year = document.getElementById('birth_year');
	for(var i=1900; i<=2014; i++){
		birth_year.add(new Option(i,i),i);	
	}
}
/***************** 마이페이지 개인정보 수정 Select Year ******************/


</script>


</head>
<body> 
	<div id='wrap'>
		<div id='top'>
			<div id='top_set_wrap'>
				<h1 class='logo'><a href='/main'><img src='/images/logo.png'></a></h1>
				<div id='top_search'>
					<input type='text' id='search_key_form' name='search_key'/>
					<input type='image' id='search_submit'  value='검색'/>
				</div>
				<ul id='top_set'>
					<li><input id='topset_timeline'  type='image' src='/images/top_set00.png'></li>
					<li><input id='topset_mypage'    type='image' src='/images/top_set01.png'></li>
					<li><input id='topset_community' type='image' src='/images/top_set02.png'></li>
					<li><input id='topset_message'   type='image' src='/images/top_set03.png'></li>
					<li><input id='topset_rtc'       type='image' src='/images/top_set04.png'></li>
					<li><input id='topset_write'     type='image' src='/images/top_set05.png'></li>
				</ul>
				<div id="videochat_msg"></div>
			</div>
		</div>
		
		<!--*************************************************************-->
			<!-- photo_form -->
			<div id="photo_form">
				<div class="photo_form_title">사진업로드</div>
				<div class="photo_display">
					<img id="uploadImage" height="300px"/>
				</div>
				<div id="photo_upload">
					<form id="uploadForm" enctype="multipart/form-data" action="/files" method="post">
					<input type="file" id="userPhotoInput" name="userPhoto"/></form>
				</div>
				<div id_"photo_close">
				<a href="javascript:;" onclick="close_photo()"><img src="/images/btn_close.jpg"></a>
				</div>
			</div>
			<!-- canvas_pannel-->
			<div id="canvas_draggable" class="canvas_form">
				<div class="canvas_form_title">
					<span>그림그리기</span>
				</div>
				<table style="border:#CCC solid;border-width:1px;">
				<tr>
				<td rowspan="3" style="border:#CCC solid;border-width:1px;">
        			<!-- 캔버스 -->
        			<canvas id="canvas" class="canvas" width="600" height="400"></canvas></td>
				<td height="200">
				<!-- 색상 선택기 -->
        			<div id="colorpicker"></div>
				</td>
				</tr>
				<tr>
				<td height="25">
        			<!-- 슬라이더: 두께 선택 -->
        			<div id="slider"></div>
				</td>
				</tr>
				<tr>
				<td style="background: orange;">
				</td>
				</tr>
				</table>
				<span><a href="javascript:;" onclick="close_canvas()"><img src="/images/btn_close.jpg"></a></span>
			</div>
			<!-- //canvas_pannel-->
			<!-- video_chat_draggable_container -->
		<!--<div id="video_chat_draggable_container" class="video_chat_draggable_container">-->
			<div id="video_chat_draggable_pannel" class="video_chat_draggable_pannel_wrap">
				<div class="video_chat_draggable_pannel_status_Bar">
					<span>화상채팅</span>
				</div>
				<div class="video_chat_menu_position">
				<a href="javascript:;" onClick="display_photo();">
				<img src="/images/videochat_menu1.png"></a>
				</div>
				<div class="video_chat_menu_position">
				<a href="javascript:;" onClick="display_canvas();">
				<img src="/images/videochat_menu2.png"></a>
				</div>
				<div class="video_chat_menu_position">
				<a href="javascript:;" onClick="rtc_exit();">
				<img src="/images/videochat_menu3.png"></a>
				</div>
				

			</div>

			<div id="video_chat_draggable1" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span id="video_chat_id1"><span>
				</div>
				<video id="sourcevideo" autoplay style="width: 320px; height: 240px;"></video>
			</div>

			<div id="video_chat_draggable2" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span id="video_chat_id2"><span>
				</div>
				<video id="remotevideo1" autoplay style="width: 320px; height: 240px;"></video>
			</div>

			<div id="video_chat_draggable3" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span "video_chat_id3">심규태(나)<span>
				</div>
				<video id="remotevideo2" autoplay style="width: 320px; height: 240px;"></video>
			</div>

			<div id="video_chat_draggable4" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span "video_chat_id4">심규태(나)<span>
				</div>
				<video id="remotevideo3" autoplay style="width: 320px; height: 240px;"></video>
			</div>

			<div id="video_chat_draggable5" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span "video_chat_id5">심규태(나)<span>
				</div>
				<video id="remotevideo4" autoplay style="width: 320px; height: 240px;"></video>
			</div>

			<div id="video_chat_draggable6" class="video_chat_draggable_wrap">
				<div class="video_chat_draggable_status_Bar">
					<span>채팅방<span>
				</div>
				<div class="room_chat_pannel">
					<div class="scroll_div_room_chat">
					<ul id="room_chat_display">
					</ul>
					</div>
				</div>
				<div class="room_chat_input_pannel">
				<input type="text" id="room_chat_input" name="room_chat_input" class="room_chat_input" onKeyPress='send_room_chat()'>
				</div>
			</div>
		<!-- //draggable_container -->
		<!--*************************************************************-->

		<div id='container'>
			<div id='left'><!-- ##################### 'left' #####################  -->
				<!-- '[1]프로필 시작' -->
				<div id='profile_wrap' class='radious'>
					<div id='profile_photo'></div>
					<div id='profile_info'>
						<p id='profile_info_name'></p>
						<p id='profile_info_birth'></p>
						<p id='profile_info_location'></p>
						<p id='profile_info_edit'><a href='#'></a></p>
					</div>
				</div>
				<!-- '[1]프로필 끝' -->

				<!-- '[2]접속중 친구리스트 시작' -->
				<div id='member_list_wrap' class='radious'>
					<div class='section_header'>
						<span class='section_header_text'>접속중인 친구</span>
						<span class='member_list_count'>(16/200)</span>
						<span class='member__list_replash'>
							<input id='ml_replace' type='image' src='/images/reflash.png' value='호출'/>
						</span>
					</div>
					<div class='scroll_div_member_list'>
						<ul id='member_list'>
						
						</ul>
						</div><!-- 'scroll_div_member_list' -->
					<div class='ml_total_list'><a href='#'>전체친구보기</a></div>
				</div>
				<!-- '[2]접속중 친구리스트 끝' -->

				<!-- '[3]받은메시지함 시작' -->
				<div id='memobox_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>받은 메시지함</span>
						<span class='member__list_replash'>
							<input id='ml_replace' type='image' src='/images/reflash.png' value='호출'/>
						</span>
					</div>
					<ul class='memobox_search_form_wrap'>
						<li><input type='text' id='search_memo_form'/></li>
						<li><input type='image'id='search_memo_submit' src='/images/search.png'/></li>
					</ul>
					<div class='scroll_div_message_box_list'>
						<ul id='message_box_list'>
							<li>
								<div class='message_box_list_photo'>
									<img src='/images/photo.jpg' alt='friend_photo'/>
								</div>
								<div class='message_box_list_info'>
									<div class='mb_name'>심규태태</div>
									<div class='mb_time'>2013년 12월 12일23시30분</div>
									<p class='mb_content'>안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요?</p>
								</div>
							</li>
						</ul><!-- 'message_box_list' -->
					</div><!-- ''scroll_div_message_box_list' '-->
				</div><!-- 'memobox_wrap' -->
				<!-- '[3]받은메시지함 끝' -->
			</div><!-- ##################### 'left' #####################  -->

			<div id='right'><!-- @@@@@@@@@@@@@@@@@@@@@@ ' right ' @@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		
				<!-- 메시지내용 -->
				<div id='message_content_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>심규태님과의 대화입니다.</span>
					</div><!-- 'section_header' -->

					<ul id='message_content' class='scroll_div_message_content'>
						<li>
							<div class='message_content_photo'>
								<img src='/images/photo.jpg' alt='friend_photo'/>
							</div>
							<div class='message_content_info'>
								<div class='mc_name'><a href='#'>심규태</a></div>
								<div class='mc_time'>2013년 12월 12일</div>
								<p class='mc_content'>안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요?안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요?안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요?안녕하세요 심규태입니다. 잘지내셨나요?잘지내셨나요?잘지내셨나요?잘지내셨나요??</p>
							</div>
						</li>
					</ul>
					
					<div class='message_content_input_wrap'>
						<textarea id='message_content_input'>123</textarea>
						<input id='message_content_submit' type='image' src='/images/resend.png' />
					</div>
				</div><!-- ''message_content_wrap' -->
				<!-- 메시지내용 -->

				<!-- 마이페이지 전체 wrap -->
				<div id='mypage_total_wrap' style='display:none;'>
					<!-- 마이페이지 커버 -->
					<div class='mypage_cover_wrap'>
						<div id='mypage_profile_photo'>
							
						</div>
						<p class='mypage_user_name'></p>
						<p class='mypage_user_id'></p>
						<div id='mypage_cover_text'></div>
					</div><!-- 'mypage_cover_wrap' -->
					<!-- 마이페이지 커버 끝 -->

					<!-- 마이페이지 탭메뉴 -->
					<div id='mypage_tap_menu_wrap'>
					 <ul id='mypage_tap_menu'>
						<li class='mypage_tap_menu_timeline'>
							<a class='bt_total_comment'>
							<p class='total_comment'>0</p>
							<p class='mypage_tap_text'>최근소식</p>
							</a>
						</li>
						<li class='mypage_tap_menu_timeline'>
							<a class='bt_total_info' href='javascriot:;'>
							<p class='total_info'>0</p>
							<p class='mypage_tap_text'>정보</p>
							</a>
						</li>
						<li class='mypage_tap_menu_timeline'>
							<span class='bt_total_friend'>
							<p class='total_friend'>0</p>
							<p class='mypage_tap_text'>친구</p>
							</span>
						</li>
					 </ul>
					 <div id='mypage_tap_button'>
						<input id='bt_mypage_cover_edit'   type='image' src='/images/bt_editcover.png' style:'display:none;'/>
						<input id='bt_mypage_add_friend01' type='image' src='/images/bt_addfriend01.png' style:'display:none;'/>
					 </div>
					</div><!--'mypage_tap_menu'-->
					<!-- 마이페이지 탭메뉴 끝 -->
					
				</div>
				<!-- 마이페이지 전체 wrap -->



				<!-- 마이페이지 전체 수정 wrap -->
				<div id='mypage_total_wrap_edit' style='display:none;'>
				<!-- 마이페이지 커버수정 -->
					<div class='mypage_cover_wrap'>
						<input type='image' id='bt_cover_bg_edit' src='/images/bt_cover_bg_edit.png'>
						<div id='mypage_profile_photo_edit' style='background-image:url(/images/profile.png)';>
							<input type='image' id='bt_cover_profile_photo_edit' src='/images/bt_cover_bg_edit2.png'>
						</div>
						<p class='mypage_user_name'>배희섭</p>
						<p class='mypage_user_id'>magicmode@naver.com</p>
						<div id='mypage_cover_text_edit'><textarea id='mypage_cover_wrap_edit_input'></textarea>
						</div>

					</div><!-- 'mypage_cover_wrap' -->
					<!-- 마이페이지 커버수정 끝 -->

					<!-- 마이페이지 탭메뉴 수정 -->
					<div id='mypage_tap_menu_wrap_edit'>
					 <ul id='mypage_tap_menu_edit'>
						<li class='mypage_tap_menu_timeline'>
							<a class='bt_total_comment'>
							<p class='total_comment'></p>
							<p class='mypage_tap_text'>최근소식</p>
							</a>
						</li>
						<li class='mypage_tap_menu_timeline'>
							<a class='bt_total_info' href='javascript:;'>
							<p class='total_info'></p>
							<p class='mypage_tap_text'>정보</p>
							</a>
						</li>
						<li class='mypage_tap_menu_timeline'>
							<span class='bt_total_friend'>
							<p class='total_friend'></p>
							<p class='mypage_tap_text'>친구</p>
							</span>
						</li>
					 </ul>
					 <div id='mypage_tap_button_edit'>
						<input type='image' id='br_coverpage_edit_ok' src='/images/bt_save.png' />&nbsp;
						<input type='image' id='bt_coverpage_edit_cancel' src='/images/bt_cancel.png' />&nbsp;
						<!--<input type='image' src='/images/bt_editcover.png' />-->
					 </div>
					</div><!--'mypage_tap_menu_edit'-->
					<!-- 마이페이지 탭메뉴 수정 끝 -->				
				</div>
				<!-- 마이페이지 전체 수정 wrap 끝 -->

				<!-- 마이페이지 친구 시작 -->
				<div id='mypage_friend_list_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>친구관리</span>
						<ul class='search_friend_form_wrap'>
							<li><input type='text' id='search_friend_form'/></li>
							<li><input type='image' src='/images/search.png'/></li>
						</ul>
					</div><!-- 'section_header' -->
					<ul id='mypage_friend_list' >
						<!--<li>
							<div class='mypage_friend_list_photo'><a href='#'><img src='/images/photo.jpg' alt='profile_photo'></a></div>
							<div class='mypage_friend_list_info'>
								<p class='mypage_friend_list_info_name'>심규태</p>
								<p class='mypage_friend_list_info_birth'>1989년 6월 25일생</p>
								<p class='mypage_friend_list_info_location'>Daegu, South Korea</p>
								<p class='mypage_friend_list_info_message'><a href='#'>메시지 보내기</a></p>
							</div>
						</li>-->
					</ul>
				</div><!-- 'mypage_friend_list_wrap'-->
				<!-- 마이페이지 친구 끝 -->

				<!--  검색페이지 -->
				<div id='searchpage_friend_list_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>검색결과</span>
					</div><!-- 'section_header' -->
					<ul id='searchpage_friend_list' >

					</ul>
				</div><!-- 'searchpage_friend_list_wrap'-->
				<!-- 친구로 부터의요청및 검색페이지 친구 끝-->
				

				<!-- 친구로부터 Request 페이지 -->
				<div id='requestpage_friend_list_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>내가한 친구요청</span>
						<a href='#' id='response_link_text'>나에게온 요청정보보기</a>
					</div><!-- 'section_header' -->
					<ul id='requestpage_friend_list' >
						
					</ul>
				</div><!-- 'requestpage_friend_list_wrap'-->
				<!-- 친구로부터 Request  페이지 끝-->

				<!-- 친구로부터 Response  페이지 -->
				<div id='responsepage_friend_list_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>친구요청에 답하기</span>
						<a href='#' id='request_link_text'>내가 요청한 정보보기</a>
					</div><!-- 'section_header' -->
					<ul id='responsepage_friend_list' >
						
					</ul>
				</div><!-- 'responsepage_friend_list_wrap'-->
				<!-- 친구로부터 Response 페이지 끝-->


				<!-- 타임라인 -->
				<div id='time_line_wrap' class='radious' style='display:;'>
					<div class='section_header'>
						<span class='section_header_text'>최근소식</span>
					</div>
					<ul id='time_line'>
					<!--
						<li class='time_line_loop_li'>
							<div class='tm_photo'><img src='/images/a.png' alt='friend_photo'/></div>
							<div class='tm_info'>
								<p class='tm_name'>
									<span class='link_user'><a href='#'>카가와 신지</a></span>
									<input type='image' src='/images/del.png' />
								</p>
								<p class='tm_content'>
								</p>
							</div>
							<div class='tm_option'>
								<div class='tm_option_icon'><input type='image' src='/images/good.jpg'></div>
								<div class='tm_option_count'>10000</div>
								<div class='tm_option_icon'><input type='image' src='/images/icon_comment.jpg'></div>
								<div class='tm_option_count'>1</div>
								<div class='tm_option_time'>2013년 2월 3일 21시 30분</div>
							</div>
							<ul class='tm_new_comment'>
								<li class='tm_new_comment_photo'><img src='/images/photo.jpg' alt='friend_photo'/></li>
								<li class='tm_new_input'><input type='text' class='tm_nwe_input_form' /> </li>
								<li class='tm_new_submit'><input type='image' class='tm_new_input_submit' src='/images/bt_write.png' value='글쓰기'/></li>	
							</ul>
							<ul class='tm_comment'>
								<li>
									<div class='tm_comment_photo'><img src='/images/a.png' alt='friend_photo'/></div>
									<div class='tm_comment_info'>
										<p class='tm_comment_name'>
											<span class='link_user'><a href='#'>배희섭</a></span>
											<input type='image' src='/images/del.png' />
										</p>
										<p class='tm_comment_content'>야기분좋다~!!!!!!! ya~ feel so good~ 	
										</p>
										<div class='tm_comment_time'><span class='timecolor'>2013년 2월 3일 21시 30분</span></div>
									</div>
								</li>
							</ul>
							
						</li> --><!-- ***LOOP*** -->
					</ul><!-- 'time_line' -->
					<!-- appending Butten -->
					<div id='time_line_append'>
						<center><input type='image' id='time_line_append_list_bt' class='bt_center' src='/images/bt_load_more.png' value='추가로딩'/></center>
					</div>
					<!-- appending Butten -->
				</div><!-- 'time_line_wrap' -->
				<!-- 타임라인 끝-->

				<!-- 마이페이지 개인정보수정 -->
				<div id='mypage_personal_info_wrap_edit' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>개인정보수정</span>
					</div><!-- 'section_header' -->

					<div id='mypage_personal_info' >
						<div class='mypage_personal_info_info_item'>
							<span class="item_style">생일</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='edit_birth' class="subject_style">
								<select id="birth_year" name="birth_year" class="modify_select"></select>&nbsp;년
								<select id="birth_month" name="birth_month" class="modify_select">
								   <option value='01'>01</option>
								    <option value='02'>02</option>
								    <option value='03'>03</option>
								    <option value='04'>04</option>
								    <option value='05'>05</option>
								    <option value='06'>06</option>
								    <option value='07'>07</option>
								    <option value='08'>08</option>
								    <option value='09'>09</option>
								    <option value='10'>10</option>
								    <option value='11'>11</option>
								    <option value='12'>12</option>
								</select>&nbsp;월
								<select id="birth_day" name="birth_day" class="modify_select">
									<option value='01'>01</option>
									<option value='02'>02</option>
									<option value='03'>03</option>
									<option value='04'>04</option>
									<option value='05'>05</option>
									<option value='06'>06</option>
									<option value='07'>07</option>
									<option value='08'>08</option>
									<option value='09'>09</option>
									<option value='10'>10</option>
									<option value='11'>11</option>
									<option value='12'>12</option>
									<option value='13'>13</option>
									<option value='14'>14</option>
									<option value='15'>15</option>
									<option value='16'>16</option>
									<option value='17'>17</option>
									<option value='18'>18</option>
									<option value='19'>19</option>
									<option value='20'>20</option>
									<option value='12'>21</option>
									<option value='22'>22</option>
									<option value='23'>23</option>
									<option value='24'>24</option>
									<option value='25'>26</option>
									<option value='26'>26</option>
									<option value='27'>27</option>
									<option value='28'>28</option>
									<option value='29'>29</option>
									<option value='30'>30</option>
									<option value='31'>31</option>                                                                        
								</select>&nbsp;일
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">성별</span>
						</div>
						<div class='mypage_personal_info_info_subject' >
							<span  class="subject_style">
								<select id="edit_sex" name="sex" class="modify_select">
									<option value='남성'>남성</option>
									<option value='여성'>여성</option>
								</select>
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">국적</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<input type="text" id="edit_nation" name="nation" class="modify_inputbox"/>&nbsp;&nbsp;ex)&nbsp;대한민국
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">사는도시</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<input type="text" id="edit_city" name="city" class="modify_inputbox"/>&nbsp;&nbsp;ex)&nbsp;대구광역시
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">언어</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<input type="text" id="edit_language" name="language" class="modify_inputbox"/>&nbsp;&nbsp;ex)&nbsp;한국어
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">혈액형</span>
						</div>

						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<select id="edit_blood_type" name="blood_type" class="modify_select">
									<option value='A'>A형</option>
									<option value='B'>B형</option>
									<option value='O'>O형</option>
									<option value='AB'>AB형</option>
								</select>
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">관심사</span>
						</div>                            
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<input type="text" id="edit_like" name="like" class="modify_inputbox"/>&nbsp;&nbsp;ex)&nbsp;프리미어리그
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">취미</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<input type="text" id="edit_hobby" name="hobby" class="modify_inputbox"/>&nbsp;&nbsp;ex)&nbsp;축구
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">결혼/연애상태</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span class="subject_style">
								<select id="edit_married" name="married" class="modify_select">
									<option value='연애중'>연애중</option>
									<option value='결혼'>결혼</option>
									<option value='솔로'>솔로</option>
								</select>
							</span>
						</div>

						<div id="common_submit_wrap">
							<a id='bt_mypage_info_edit_save' class="bt_save" onClick="javascript:;">등록</a>
							<a id='bt_mypage_info_edit_cancel' class="bt_cancel" onClick="javascript:;">취소</a>
						</div>

					</div><!-- 'mypage_personal_info' -->
				</div><!-- 'mypage_personal_info_wrap'-->
				<!-- 마이페이지 개인정보수정 끝 -->


				<!-- 마이페이지 개인정보 -->
				<div id='mypage_personal_info_wrap' class='radious' style='display:none;'>
					<div class='section_header'>
						<span class='section_header_text'>개인정보</span>
					</div><!-- 'section_header' -->

					<div id='mypage_personal_info' >
						<div class='mypage_personal_info_info_item'>
							<span class="item_style">생일</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='info_birth' class="subject_style">
								1988년 5월 6일
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">성별</span>
						</div>
						<div class='mypage_personal_info_info_subject' >
							<span id='info_sex' class="subject_style">
								남성
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">국적</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='info_nation' class="subject_style">
								대한민국
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">사는도시</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='info_city' class="subject_style">
								대구광역시
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">언어</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='info_language' class="subject_style">
								영어
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">혈액형</span>
						</div>

						<div class='mypage_personal_info_info_subject'>
							<span id='info_blood_type' class="subject_style">
								A형
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">관심사</span>
						</div>                            
						<div class='mypage_personal_info_info_subject'>
							<span id='info_like' class="subject_style">
								풋살
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">취미</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id="info_hobby" class="subject_style">
								축구
							</span>
						</div>

						<div class='mypage_personal_info_info_item'>
							<span class="item_style">결혼/연애상태</span>
						</div>
						<div class='mypage_personal_info_info_subject'>
							<span id='info_married' class="subject_style">
								연애중
							</span>
						</div>


						<div id="common_submit_wrap">
							<center><input id='bt_mypage_info_edit' type='image' src='/images/btn_modity.png' value='수정'/></center>

						</div>

					</div><!-- 'mypage_personal_info' -->
				</div><!-- 'mypage_personal_info_wrap'-->
				<!-- 마이페이지 개인정보수정 끝 -->


			</div><!-- @@@@@@@@@@@@@@@@@@@@@@ ' right ' @@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		</div><!-- 'container' -->

		<div id='bottom'>

		</div>
	</div>


	<div id="dialog_profile_photo" title="프로필사진 dddd변경하기">
		<div class="file_upload_form_wrap">
	    	<!-- text박스에 value="5MB를 넘을 수 없습니다." 라고 입력하면 value 값이 보여짐. 첨부파일이 첨부되면 문구는 없어짐 -->
			<input type='text' name='memo'  id='file_route_profile' class='file_upload_text' readonly='readonly'
    												title='첨부된 파일경로' value='5m를 넘을수 없습니다.'/>
			<span class="file_upload_wrap">
        		<form id="profile_change" enctype="multipart/profile_file" action="/profile_files" method="post">
				<input type='file' name='profile_change_id' class='file_upload_add' onChange="javascript:document.getElementById('file_route_profile').value=this.value" />
				<input type='hidden' class='form_upload_userid' name='form_upload_userid'/>
            		</form>
   			</span>
		</div>
		<div id="common_submit_wrap">
			<a href="javascript:;" class="bt_save" onClick="profile_bg_change_submit();">등록</a>
   		</div>

	<div id="dialog_cover_bg_photo" title="커버사진 변경하기">
		  <div class="file_upload_form_wrap">
		    <!-- text박스에 value="5MB를 넘을 수 없습니다." 라고 입력하면 value 값이 보여짐. 첨부파일이 첨부되면 문구는 없어짐 -->
			<input type='text'  id='file_route_cover' class='file_upload_text' readonly='readonly' title='첨부된 파일경로' value='5m를 넘을수 없습니다.'/>
		    <span class="file_upload_wrap">
			<form id="cover_change" enctype="multipart/form-data" action="/cover_files" method="post">
			<input type='file' name='cover_change_id' class='file_upload_add' onChange="javascript:document.getElementById('file_route_cover').value=this.value" />
			<input type='hidden' class='form_upload_userid' name='form_upload_userid' />
			</form>
		    </span>
		</div>
		<div id="common_submit_wrap">
			<a href="javascript:;" class="bt_save" onClick="cover_bg_change_submit();">등록</a>
	        </div>
		
	</div>

	<div id="dialog_cover_write_wrap" title="글 등록하기">
		 <div class="dialog_cover_write_wrap">
		<textarea id='timeline_input_form'></textarea>
		</div>
		<div id="common_submit_wrap">
			<a href="javascript:;" class="bt_save" onClick="write_timeline();">등록</a>
	        </div>
		
	</div>


</body>
</html>
